<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../../asset/icons/themify-icons/themify-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
        <ul class="navList">

            <li class="navListFirst">
                <a href="">Sportswear</a>
            </li>

            <li class="navListMiddle">
                <div class="navNewProduct">
                    <a href="">Sản phẩm mới</a>
                    <ol class="subnavNewProduct">
                        <!-- Nam -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nam</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Nữ -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nữ</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Trẻ em -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Trẻ em</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>

                <div class="navMen">
                    <a href="">Nam</a>
                    <ul class="subnavMen ">
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Giày</a></li>
                        <li><a href="">Áo</a></li>
                        <li><a href="">Quần</a></li>
                        <li><a href="">Tất</a></li>
                    </ul>
                </div>

                <div class="navWomen">
                    <a href="">Nữ</a>
                    <ul class="subnavWomen ">
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Giày</a></li>
                        <li><a href="">Áo</a></li>
                        <li><a href="">Quần</a></li>
                        <li><a href="">Tất</a></li>
                    </ul>
                </div>

                <div class="navKids ">
                    <a href="">Trẻ em</a>
                    <ul class="subnavKids ">
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Giày</a></li>
                        <li><a href="">Áo</a></li>
                        <li><a href="">Quần</a></li>
                        <li><a href="">Tất</a></li>
                    </ul>
                </div>

                <div class="navPromotion">
                    <a href="">Khuyến mãi</a>
                    <ol class="subnavPromotion">
                        <!-- Nam -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nam</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Nữ -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nữ</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Trẻ em -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Trẻ em</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>

                <div class="navHelp">
                    <a href="">Hướng dẫn</a>
                </div>

                <div class="navIntroduce">
                    <a href="">Giới thiệu</a>
                </div>

            </li>

            <li class="navListEnd">
                <a href="">
                    <i class="ti-search"></i>
                </a>
                <a href="">Đăng nhập</a>
                <a href="">Đăng ký</a>

            </li>
        </ul>
    </div>

    <div class="homePage">
        <div class="homePoster">
            <img src="../../asset/images/Image.png" alt="">
        </div>
        <div class="homeCategory">
            <div>
                <p>HẠNG MỤC</p>
            </div>
            <div class="homeListCategory">
                <div>
                    <img src="../../asset/images/Module 2/Item 2.png" alt="">
                    <h4>SẢN PHẨM MỚI</h4>
                </div>
                <div>
                    <img src="../../asset/images/Module 2/Item 3.png" alt="">
                    <h4>NAM</h4>
                </div>
                <div>
                    <img src="../../asset/images/Module 2/Item 4.png" alt="">
                    <h4>NỮ</h4>
                </div>
                <div>
                    <img src="../../asset/images/Module 2/Item 5.png" alt="">
                    <h4>TRẺ EM</h4>
                </div>
                <div>
                    <img src="../../asset/images/Module 2/Item 2.png" alt="">
                    <h4>KHUYẾN MÃI</h4>
                </div>
            </div>
        </div>
        <div class="homeBanner">
            <div class="homeBannerDescribe">
                <p class="mb1 mt2">GIÀY BÓNG ĐÁ THƯỢNG ĐÌNH</p>
                <p class="mb2">Bước vào sân cỏ với đẳng cấp cùng giày bóng đá nam Thượng Đình - sự kết hợp hoàn hảo giữa
                    phong cách và hiệu suất. </p>
                <button class="homeBannerBtn">XEM CHI TIẾT</button>
            </div>
            <div>
                <img src="../../asset/images/Module 3/Image.png" alt="">
            </div>
        </div>
        <div class="homeNewestProduct">
            <div>
                <p>SẢN PHẨM MỚI NHẤT</p>
            </div>
            <div class="homeNewestProductImg">
                <img src="../../asset/images/Module 4/Item 1.png" alt="">
                <img src="../../asset/images/Module 4/Item 2.png" alt="">
                <img src="../../asset/images/Module 4/Item 3.png" alt="">

            </div>
        </div>

        <div class="homeRate">
            <div>
                <p>ĐÁNH GIÁ CỦA KHÁCH HÀNG</p>
            </div>
            <div class="homeRateImg">
                <img src="../../asset/images/Module 5/Customer Review-1.png" alt="">
                <img src="../../asset/images/Module 5/Customer Review.png" alt="">
                <img src="../../asset/images/Module 5/Customer Review-1.png" alt="">
            </div>
        </div>

        <div class="homeMen">
            <div>
                <p>NAM</p>
            </div>
            <div class="homeMenList">
                <div>
                    <img src="../../asset/images/Module 6/Item 1.png" alt="">
                    <h4>GIÀY BÓNG ĐÁ THƯỢNG ĐÌNH</h4>
                </div>
                <div>
                    <img src="../../asset/images/Module 6/Item 2.png" alt="">
                    <h4>GIÀY BÓNG ĐÁ THƯỢNG ĐÌNH</h4>
                </div>
                <div>
                    <img src="../../asset/images/Module 6/Item 3.png" alt="">
                    <h4>GIÀY BÓNG ĐÁ THƯỢNG ĐÌNH</h4>
                </div>
            </div>
            <div>
                <button class="homeMenBtn">XEM CHI TIẾT</button>
            </div>
        </div>
        <div class="homeWomen">
            <div>
                <p>NỮ</p>
            </div>
            <div class="homeWomenList">
                <div>
                    <img src="../../asset/images/Module 6/Item 1.png" alt="">
                    <h4>GIÀY BÓNG ĐÁ THƯỢNG ĐÌNH</h4>
                </div>
                <div>
                    <img src="../../asset/images/Module 6/Item 2.png" alt="">
                    <h4>GIÀY BÓNG ĐÁ THƯỢNG ĐÌNH</h4>
                </div>
                <div>
                    <img src="../../asset/images/Module 6/Item 3.png" alt="">
                    <h4>GIÀY BÓNG ĐÁ THƯỢNG ĐÌNH</h4>
                </div>
            </div>
            <div>
                <button class="homeWomenBtn">XEM CHI TIẾT</button>
            </div>
        </div>
        <div class="homeKids">
            <div>
                <p>TRẺ EM</p>
            </div>
            <div class="homeKidsList">
                <div>
                    <img src="../../asset/images/Module 6/Item 1.png" alt="">
                    <h4>GIÀY BÓNG ĐÁ THƯỢNG ĐÌNH</h4>
                </div>
                <div>
                    <img src="../../asset/images/Module 6/Item 2.png" alt="">
                    <h4>GIÀY BÓNG ĐÁ THƯỢNG ĐÌNH</h4>
                </div>
                <div>
                    <img src="../../asset/images/Module 6/Item 3.png" alt="">
                    <h4>GIÀY BÓNG ĐÁ THƯỢNG ĐÌNH</h4>
                </div>
            </div>
            <div>
                <button class="homeKidsBtn">XEM CHI TIẾT</button>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="footerAbove">
            <div class="footerProduct">
                <p>Sản phẩm</p>
                <ul>
                    <li><a href="">Chính sách</a></li>
                    <li><a href="">Dịch vụ</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <div class="footerResource">
                <p>Tài nguyên</p>
                <ul>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Case Studies</a></li>
                </ul>
            </div>
            <div class="footerInfo">
                <p>Công ty</p>
                <ul>
                    <li><a href="">Về chúng tôi</a></li>
                    <li><a href="">Liên lạc với chúng tôi</a></li>
                </ul>
            </div>
        </div>

        <div class="footerUnder">
            <div class="line"></div>
            <div class="subFooter">
                <div>
                    <p>© GroupX Internet And Web Technology Project™ 2023</p>
                </div>
                <!-- <div class="contact">
                    <i class="ti-email"></i>
                    <i class="ti-linkedin"></i>
                    <i class="ti-facebook"></i>
                </div> -->
            </div>
        </div>
    </div>

</body>

</html>