/* * {
    border: 2px solid;
} */

/* Set up custom fonts */
@font-face {
    font-family: 'my_public_sans';
    src: url('../../../assets/fonts/public-sans-regular.ttf');
}

* {
    font-family: 'my_public_sans';
}

div,
main,
section,
article, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.product-management-content {
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: 100%;
}

.product-management-title {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-weight: bold;
}

.product-management-filter {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    justify-content: space-between;
    margin-bottom: 2em;
}

.product-management-filter-option {
    display: flex;
    flex-direction: column;
}

.product-management-filter-option label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.product-management-filter-text {
    display: flex;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    width: 150%;
}

.product-management-filter-option-range {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}

/* .product-management-filter-option-range .product-management-filter-text {
    width: 50%;
} */

.product-management-table {
    width: 100%;
    overflow: auto;
}

.product-management-table tr:not(:first-child) th:nth-child(2) {
    color: blue;
}

.product-management-table tr:first-child th {
    font-weight: bold;
}

.product-management-add-product {
    display: flex;
    justify-content: right;
    margin-top: 1.5em;
}

.product-management-add-product button {
    border: none;
    background-color: #C0DBFB;
    font-family: 'my_public_sans';
    font-weight: bold;
    font-size: 1.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #1C1B1F;
    opacity: 60%;
    cursor: pointer;
}