/* Set up custom fonts */
@font-face {
    font-family: 'my_public_sans';
    src: url('../../assets/fonts/PublicSans-Regular.ttf');
}

/* All elements */

* {
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'my_public_sans';
}

/* Header */
.show-product-list-header {
    background-color: black;
    color: white;
    padding-left: 5em;
    /* padding-right: 0.75em; */

}

.show-product-list-header div {
    /* width: 1200px; */
    max-width: 1250px;
    margin: auto;
}

/* Header content container */
.show-product-list-header div {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 40%;
}

/* Header content */
.show-product-list-header div * {
    line-height: 1.5em;
}

/* Header title */
.show-product-list-header div h1 {
    font-size: 2em;
}

/* Main content*/
.show-product-list-content {
    display: flex;
    padding-top: 0.75em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    width: 1200px;
    max-width: 1250px;
    margin: auto;
}

/* Seperate 2 parts into 2 columns */
.show-product-list-filter,
article {
    display: inline-block;
}

.show-product-list-filter {
    flex: 1;
    padding-left: 2.5rem
}

article {
    flex: 4;
}

/* Filter title */
.show-product-list-filter>label:first-child {
    font-weight: bold;
    font-size: 1.25em;
}

/* Clear filter button */
#show-product-list-clear-filter {
    border: none;
    background-color: inherit;
    text-decoration: underline;
    color: #C4C4C4;
    cursor: pointer;
}

/* Filter option title */
.show-product-list-filter-option>label:first-child {
    font-weight: bold;
    line-height: 3em;
}

/* Filter option choice */
.show-product-list-filter-option div {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/* Sort products */
.show-product-list-sort {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Sort products title */
.show-product-list-sort label {
    padding-right: 0.25em;
    font-weight: bold;
}

/* Sort products combo box */
.show-product-list-sort select {
    font-family: 'my_public_sans';
}

/* Product list container */
#show-product-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
}

/* Product container */
.show-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

/* Product image */
div.product-img {
    align-content: center;
    background-color: #F6F6F6;
}

/* Product info */
.product-name,
.product-price {
    text-align: center;
}

.product-name {
    font-weight: bold;
}

/* "Show more" button */
.show-product-list-more {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.show-product-list-more button {
    line-height: 2.5em;
    font-weight: bold;
    background-color: inherit;
    font-family: 'my_public_sans';
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}

.show-product .product-name,
.show-product .product-price  {
    text-align: left;
    width: 100%;
    padding-left: 2rem;
    line-height: 1.25rem;
}