<!DOCTYPE html>		<!--Define the version of HTML-->
<html lang="vi">	<!--Set the language-->
	<head>
		<title>Product List</title>
		<meta name="description"
		    content="This webpage shows the infomation of a product">	<!--Set the content-->
		<meta charset="utf-8" >		<!--Set the charset to Unicode-->
		<link rel="icon" type="image/png" href="../../assets/images/logo-removebg-preview.png">
		<link rel="stylesheet" href="./style.css">
	</head>

    <body>
        <nav>

        </nav>

        <header>
            <h1>Sản phẩm mới</h1>
            <p>Đắm chìm trong thế giới thể thao với những sản phẩm mới nhất tại cửa hàng của chúng tôi! 
                Dòng sản phẩm mới này bao gồm đủ phụ kiện để bạn có thể chuẩn bị cho mọi hoạt động thể thao của mình.</p>
        </header>

        <main>
            <aside>
                <label>Bộ lọc</label> <label>Xoá bộ lọc</label><br>

                <p>Hạng mục</p>
                <input type="checkbox">
                <label>Giày</label>
                <br>
                <input type="checkbox">
                <label>Áo</label>
                <br>
                <input type="checkbox">
                <label>Quần</label>
                <br>
                <input type="checkbox">
                <label>Tất</label>
                <br>
                <input type="checkbox">
                <label>Mũ</label>
                <br>

                <br>

            </aside>

            <article>
                <div class="sort">
                    <label>Sắp xếp theo </label>
                    <select>
                        <option value="Mới nhất">Mới nhất</option>
                        <option value="Giá tăng dần">Giá tăng dần</option>
                        <option value="Giá giảm dần">Giá giảm dần</option>
                        <option value="Có khuyến mãi">Có khuyến mãi</option>
                    </select>
                </div>
				<br>

                <div class="show_product_list">
                    <div class="show_product">
                        <div class="product_img"><img src="../../assets/images/logo-removebg-preview_50.png" alt="product_img"></div>
                        <br>
                        <label class="product_name">Men's Winter Jacket</label><br>
                        <label class="product_price">200.000 VNĐ</label><br>
                    </div>
    
                    <div class="show_product">
                        <div class="product_img"><img src="../../assets/images/logo-removebg-preview_50.png" alt="product_img"></div>
                        <br>
                        <label class="product_name">Men's Winter Jacket</label><br>
                        <label class="product_price">200.000 VNĐ</label><br>
                    </div>
    
                    <div class="show_product">
                        <div class="product_img"><img src="../../assets/images/logo-removebg-preview_50.png" alt="product_img"></div>
                        <br>
                        <label class="product_name">Men's Winter Jacket</label><br>
                        <label class="product_price">200.000 VNĐ</label><br>
                    </div>
    
                    <div class="show_product">
                        <div class="product_img"><img src="../../assets/images/logo-removebg-preview_50.png" alt="product_img"></div>
                        <br>
                        <label class="product_name">Men's Winter Jacket</label><br>
                        <label class="product_price">200.000 VNĐ</label><br>
                    </div>
    
                    <div class="show_product">
                        <div class="product_img"><img src="../../assets/images/logo-removebg-preview_50.png" alt="product_img"></div>
                        <br>
                        <label class="product_name">Men's Winter Jacket</label><br>
                        <label class="product_price">200.000 VNĐ</label><br>
                    </div>
    
                    <div class="show_product">
                        <div class="product_img"><img src="../../assets/images/logo-removebg-preview_50.png" alt="product_img"></div>
                        <br>
                        <label class="product_name">Men's Winter Jacket</label><br>
                        <label class="product_price">200.000 VNĐ</label><br>
                    </div>
                </div>
                

                <br>
                <div class="show_more">
                    <button>Hiển thị thêm sản phẩm</button>
                </div>
            </article>

        </main>

        <footer>

        </footer>
        
        <script src="script.js"></script>
    </body>
</html>