/* * {
    border: 1px solid;
} */

html {
    font-size: 16px;
}

header {
    margin: auto 0px auto 0px;
    background-color: black;
}

header h1, header p {
    color: white;
}

header h1 {
    padding-top: 0.75em;
}

header p {
    padding-bottom: 0.75em;
}

main {
    display: flex;
}

aside, article {
    display: inline-block;
}

aside {
    flex: 1;
}

article {
    flex: 4;
}

.sort {
    width: 100%;
    display: flex;
    /* align-self: right; */
    /* align-items: right; */
    /* position: relative; */
    /* left: auto;
    right: 0px; */
    justify-content: flex-end;
    
}

.sort label {
    background-color: green;
}

.show_product_list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.show_product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_name, .product_price {
    text-align: center;
}

div.product_img {
    align-content: center;
}

.show_more {
    display: flex;
    justify-content: center;
}

