*,
html {
    padding: 0;
    margin: 0;
    font-family: Poppins, Helvetica, sans-serif;
    box-sizing: border-box;
}

.wrap {
    /* min-width: 100%; */
    height: 100%;
    background-color: #FBFBFB;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    column-gap: 10px;
    color: #333333;
    padding: 50px 150px 50px 50px;
    /* align-items: center; */
}

.form {
    /* margin-left: 12%;
    margin-right: 10%;
    font: 16px Poppins; */
    font-weight: 400;
    /* margin: 50px; */
    width: 35%;
    border: 2px solid #333;
    border-radius: 24px;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 40px;
    padding: 80px 50px;
}

.headForm {
    line-height: 2;
}

.headForm h2 {
    font-size: 32px;
}

.bodyForm {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
}

.firstRow,
.secondRow {
    display: inline-block
}

.thirdRow {
    display: flex;
    justify-content: space-between;
}

.form input:not(input[type="checkbox"]) {
    border-radius: 12px;
    border: 1px rgba(16.87, 0.75, 0.75, 0.86) solid;
    font-size: 20px;
    line-height: 1.6;
    padding: 7px;
    margin-top: 8px;
    width: 100%;
}

.loginButton {
    color: white;
    font-size: 22px;
    font-family: Poppins;
    margin: auto;
    background-color: #000;
    border: 0;
    border-radius: 32px;
    padding: 14px 38px;

}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 100%;

}

.registerText {
    font-weight: 600;
    color: rgba(21, 7, 112, 0.7);
    text-decoration: none;
}

.registerText:hover {
    opacity: 0.7;
    cursor: pointer;
}

.registerButton:hover {
    color: #fff;
    background-color: #32ba9a;
    cursor: pointer;
}

/* @media (max-width: 800px) {
    .wrap {
        flex-direction: column;  
        padding: 0;
    }

    .firstRow,
    .thirdRow {
        display: block !important;
    }

    .firstRow div:first-child,
    .thirdRow div:first-child {
        margin-bottom: 15px;
    }

    .form {
        width: 100%;
        padding: 40px 25px;
    }

    .form input[type="text"] {
        width: 100%;
    }
    .registerButton {
        width:100%;
    }
    .logo img {
        width: 100%;
    } 

}
*/


/* Snackbar  */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}