*,
html {
    padding: 0;
    margin: 0;
    /* font-family: Poppins, Helvetica, sans-serif; */
    box-sizing: border-box;
}

.wrap {
    height: 100%;
    background-color: #FBFBFB;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    column-gap: 10px;
    color: #333333;
    padding: 50px 150px 50px 50px;
}

.form {
    /* margin-left: 12%;
    margin-right: 10%;
    font: 16px Poppins; */
    font-weight: 400;
    /* margin: 50px; */
    width: 35%;
    border: 2px solid #333;
    border-radius: 24px;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 40px;
    padding: 80px 50px;
}

.headForm {
    line-height: 2;
}

.headForm h2 {
    font-size: 32px;
}

.bodyForm {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
}

.firstRow,
.secondRow {
    display: inline-block
}

.thirdRow {
    display: flex;
    justify-content: space-between;
}

.form input:not(input[type="checkbox"]) {
    border-radius: 12px;
    border: 1px rgba(16.87, 0.75, 0.75, 0.86) solid;
    font-size: 20px;
    line-height: 1.6;
    padding: 0.5rem 1rem;
    margin-top: 8px;
    width: 100%;
}

.loginButton {
    color: white;
    font-size: 22px;
    /* font-family: Poppins; */
    margin: auto;
    background-color: #000;
    border: 0;
    border-radius: 32px;
    padding: 14px 38px;
}

.loginButton:hover {
    color: #fff;
    background-color: #32ba9a;
    cursor: pointer;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 100%;

}

.registerText {
    font-weight: 600;
    color: rgba(21, 7, 112, 0.7);
    text-decoration: none;
}

.registerText:hover {
    opacity: 0.7;
    cursor: pointer;
}

.registerButton:hover {
    color: #fff;
    background-color: #32ba9a;
    cursor: pointer;
}

/* @media (max-width: 800px) {
    .wrap {
        flex-direction: column;  
        padding: 0;
    }

    .firstRow,
    .thirdRow {
        display: block !important;
    }

    .firstRow div:first-child,
    .thirdRow div:first-child {
        margin-bottom: 15px;
    }

    .form {
        width: 100%;
        padding: 40px 25px;
    }

    .form input[type="text"] {
        width: 100%;
    }
    .registerButton {
        width:100%;
    }
    .logo img {
        width: 100%;
    } 

}
*/

