*, html {
    padding: 0;
    margin: 0;
    font-family: Poppins, Helvetica, sans-serif;
    box-sizing: border-box;
}
.wrap {
    /* min-width: 100%; */
    height: 100%;
    background-color: #FBFBFB;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
    color: #333333; 
    padding: 50px;
    /* align-items: center; */
}
.form {
    font: 16px Poppins;
    font-weight: 400; 
    /* margin: 50px; */
    flex: 40%;
    border: 2px solid #333;
    border-radius: 24px;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 40px;
    padding: 80px 50px;
}
.firstRow {
    display: flex;
    flex-direction: row;
}
.headForm {
    line-height: 2 ;
}
.headForm h2 {
    font-size: 32px;
}
.bodyForm {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 15px;
}
.firstRow, .thirdRow {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}
.form input[type="text"] {
    border-radius: 12px;
    border: 1px rgba(16.87, 0.75, 0.75, 0.86) solid;
    font-size: 20px;
    line-height:1.6 ;
    padding: 7px;
    margin-top: 8px;
    width: 100%;
}
.registerButton {
    color: white;
    font-size: 22px;
    font-family: Poppins;
    margin: auto;
    background-color: #000;
    border: 0;
    border-radius: 32px;
    padding: 14px 38px; 
    
}
.logo {
    flex: 40%;
    display: flex;
    align-items: center;
    max-width: 100%;

}
.loginText {
    font-weight: 600;
    color: rgba(21, 7, 112, 0.7)
}
.loginText:hover{
    opacity: 0.7;
    cursor: pointer;
}
.registerButton:hover{
    color: #fff;
    background-color:#32ba9a;
    cursor: pointer;
}

@media (max-width: 800px) {
    .wrap {
        flex-direction: column;  
        padding: 0;
    }

    .firstRow,
    .thirdRow {
        display: block !important;
    }

    .firstRow div:first-child,
    .thirdRow div:first-child {
        margin-bottom: 15px;
    }

    .form {
        width: 100%;
        padding: 40px 25px;
    }

    .form input[type="text"] {
        width: 100%;
    }
    .registerButton {
        width:100%;
    }
    .logo img {
        width: 100%;
    }

}
