body{
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}
:root{
    --default-width: 1400px;
    --default-height: 900px;
}
nav{
    width: 100vw;
    height: 60px;
    background-color: black;
}
.product-container{
    display: flex;
    width: 100vw;
    height: 90vh;
    flex-direction: row;
    margin: 10vh 10vw 0 10vw;
    gap: 5vw;
}
.product-imgs{
    width: 40vw;
    height: 40vw;
    overflow: hidden;
}
.product-imgs img{
    /* width: 250px; */
    /* width: 40vw;
    height: 40vw; */
}
.product-details{
    flex: 0.5;
}
.product-color-option{
    display: flex;
    flex-direction: row;
}
.p-color{
    margin: 5px;
    padding: 20px;
    border-radius: 50%;
    border: none;
    background-color: black;
}
.product-size-option{
    display: flex;
    flex-direction: row;
}
/* Hide the default radio buttons */
input[type="radio"] {
    display: none;
}

/* Style the custom radio buttons */
label.radio-button-size {
    display: inline-flex;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid #b7b7b7;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

label.radio-button-color {
    display: inline-block;
    margin-right: 10px;
    padding: 16px;
    border: 3px solid #b7b7b7;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}
label.radio-button-color :hover{
    transform: scale(1.2);
}

/* Style the selected radio button */
input[type="radio"]:checked+label.radio-button {
    background-color: #b7b7b7;
}

/* Optional: Adjust the label position inside the button */
label.radio-button-size span.label-text {
    display: inline-block;
    vertical-align: middle;
}

.product-quantity-option{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 50px;
    border: solid 1px #b7b7b7;
    justify-content: space-between;
    align-items: center;
}

.product-quantity-option button{
    border: none;
    width: 40px;
    height: 50px;
    font-size: 10px;
    background-color: white;
    transition: all 0.2s ease;
}
.product-quantity-option button:hover{
    background-color: rgb(148, 148, 148);
}
.product-quantity-option input{
    border: none;
    width: 40px;
    height: 48px;
    text-align: center;
}

.add-to-cart{
    margin-top: 30px;
    width: 450px;
    height: 50px;
    color: azure;
    background-color: black;
}

.review-container{
    display: flex;
    flex-direction: row;
    margin: 0 10vw 10vw 10vw;
    gap: 5vw;
}
.review-left{
    min-width: 11rem;
    display: flex;
    flex-direction: column;
}
.review-left h2,
.review-left h3 {
    padding: 0.75rem 0;
}
.review-right{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}
.review-right select{
    margin-left: auto;
    padding: 5px 15px;
    margin-bottom: 20px;
    outline: none;
}
#line{
    width: 90px;
    height: 1px;
    background-color: black;
}
#reviews-counter-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #6969699d;
    height: 30px;
    cursor: pointer;
    transition: all 0.15s ease;
    opacity: 0.7;
    font-weight: bolder;
}
#reviews-counter-child:hover{
    opacity: 1;
    color: black;
}

/* Comment  */
.cmt-container{
    display: flex;
    flex-direction: column;
    width: 850px;
    padding: 0 10px;
}
.cmt-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding: 10px 5px 10px 0;
}
.cmt-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}
.rating{
    display: flex;
    flex-direction: row;
}
#cmt-username{
    padding-right: 3em;
    font-size: 18px;
    font-weight: bold;
}
.upvote{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 18px;
    padding-bottom: 10px;
}
.upvote a{
    text-decoration: none;
    color: black;
    padding: 0 2px;
}

#cmt-title {
    margin-top: 1rem;
}

.cmt-content {
    line-height: 1.5rem;
    margin: 1rem 0;
    padding-right: 10rem;
    text-align: justify;
}

.upvote {
    font-size: 0.75rem;
    opacity: 0.8;
}

#product-price {
    margin: 0.75rem 0;
}

#product-decription {
    line-height: 1.5rem;
    margin: 1rem 0;
}

.label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}