/* Sử dụng lại css của quản lí khách hàng */

div,
main,
section,
article, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --blue: #0B63F8;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.search-customer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.25rem;
}

.search-customer__card {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    /* background-color: brown; */
    gap: 1rem;
}

/* Slider */
/* .search-customer__card input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #ccc;
}

.search-customer__card input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #f50;
    border-radius: 50%;
    border: none;
    transition: 0.2s ease-in-out;
}

.search-customer__card input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #f50;
    border-radius: 50%;
    border: none;
    transition: 0.2s ease-in-out;
}

.search-customer__card input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 85, 0, 0.1);
}
.search-customer__card input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
}
.search-customer__card input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
}

.search-customer__card input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 85, 0, 0.1);
}
.search-customer__card input[type="range"]:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
}
.search-customer__card input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, 0.2);
} */

.search-customer__input-text {
    /* height: 2rem; */
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 0.25rem;
}

.search-customer__input-number {
    padding: 0.95em;
    border: 1px solid gray;
    border-radius: 0.75rem;
    width: 4.5rem;
}

/* List container */
.list-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    font-size: 1.25rem;
    overflow-x: auto;
}

.list-container input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
}

.list-container .cell-center {
    text-align: center;
}

.list-container .cell-start {
    text-align: left;
}

.list-container .list-container__name {
    max-width: 15rem;
}

.list-container .list-container__name > p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-customer__select {
    padding: 0.75rem;
    border: 1px solid gray;
    border-radius: 0.25rem;
}

.search-customer__select option {
    padding: 0.75rem !important;
    border: 1px solid gray !important;
    border-radius: 0.25rem !important;
}

/* .list-container .cell-action {
    gap: 0.5rem;
} */

.list-container .cell-action a {
    text-decoration: none;
    transition: opacity 0.25s;
}

.list-container .cell-action a:hover {
    opacity: 0.5;
}

.list-container tr {
    height: 5rem;
}

.list-container tbody tr td:nth-child(2) {
    color: var(--blue);
}

.hover {
    cursor: pointer;
}

/* Customer footer */
.customers-footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
}

.customers-footer .pagination {
    display: flex;
    flex-direction: row;
}

.customers-footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    border-radius: 0.25rem;
    background-color: white;
    font-weight: bold;
}

.customers-footer a.active {
    border: 1px solid #4200FF;
}

.customers-footer button {
    position: absolute;
    background-color: #9ecaff;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    cursor: pointer;
    transition: opacity 0.25s;
    color: gray;
}

.customers-footer button:hover {
    opacity: 0.85;
}

/* Detail coupon modal */
.detail-coupon-area {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.detail-coupon-modal {
    width: 50rem;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
}



.coupon-modal__heading {
    font-size: 1.5rem;
    padding: 2rem;
    background-color: #F0F0F0;
    color: var(--blue);
}



.coupon-modal__body {
    display: flex;
    flex-direction: column;
}

.coupon-modal__main {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
    font-size: 1.25rem;
}

.coupon-modal__main input[type="text"] {
    height: 2.5rem;
    width: 10rem;
}

.coupon-modal__percent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.coupon-modal__percent input[type="range"] {
    width: 15rem;
}

.coupon-modal__percent input[type="text"] {
    width: 6rem;
    margin: 0 auto;
    text-align: center;
}

.coupon-modal__date {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.coupon-modal__date input[type="text"] {
    padding-left: 1rem;
}

.coupon-modal__date-input {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.coupon-modal__date-input .hyphen {
    width: 15px;
    height: 3px;
    background-color: #D9D9D9;
    margin: auto 0;
}

.coupon-modal__types {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

.coupon-modal__types > p {
    font-size: 1.25rem;
}

.coupon-modal__checkbox-container {
    display: flex;
    flex-direction: row;
}

.coupon-modal__checkbox-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.coupon-modal__checkbox-cell {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

/* .coupon-modal__checkbox-cell label {

} */

.coupon-modal__checkbox-cell input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
}

.coupon-modal__foot {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 2rem;
    gap: 1.5rem;
}

.coupon-modal__foot button {
    width: 5.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.25s;
}

.coupon-modal__foot button:hover {
    opacity: 0.7;
}

.coupon-modal__accept-btn {
    background-color: #A5A58D;
    color: white;
    border: none;
}

.coupon-modal__cancel-btn {
    background-color: white;
    color: #A5A58D;
    border: 1px solid #A5A58D;
}