<!DOCTYPE html>		<!--Define the version of HTML-->
<html lang="vi">	<!--Set the language-->
	<head>
		<title>Quản lí hạng mục</title>
		<meta charset="utf-8" >		<!--Set the charset to Unicode-->
		<link rel="icon" type="image/png" href="../logo-removebg-preview_50.png">
		<link rel="stylesheet" href="./style.css">
	</head>

    <body>
        <nav>

        </nav>

        <header>

        </header>

        <main>
            
        </main>

        <footer>

        </footer>
        
        <script src="./script.js"></script>
    </body>
</html>