.product-management-table-row {
    border-bottom: 1px solid;
}

.product-management-table-row th {
    font-weight: normal;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-bottom: 1px solid #F2F2F2;
}