<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../../asset/icons/themify-icons/themify-icons.css"
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
        <ul class="navList">

            <li class="navListFirst">
                <a href="">Sportswear</a>
            </li>

            <li class="navListMiddle">
                <div class="navNewProduct">
                    <a href="">Sản phẩm mới</a>
                    <ol class="subnavNewProduct">
                        <!-- Nam -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nam</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Nữ -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nữ</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Trẻ em -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Trẻ em</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>

                <div class="navMen">
                    <a href="">Nam</a>
                    <ul class="subnavMen ">
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Giày</a></li>
                        <li><a href="">Áo</a></li>
                        <li><a href="">Quần</a></li>
                        <li><a href="">Tất</a></li>
                    </ul>
                </div>

                <div class="navWomen">
                    <a href="">Nữ</a>
                    <ul class="subnavWomen ">
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Giày</a></li>
                        <li><a href="">Áo</a></li>
                        <li><a href="">Quần</a></li>
                        <li><a href="">Tất</a></li>
                    </ul>
                </div>

                <div class="navKids ">
                    <a href="">Trẻ em</a>
                    <ul class="subnavKids ">
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Giày</a></li>
                        <li><a href="">Áo</a></li>
                        <li><a href="">Quần</a></li>
                        <li><a href="">Tất</a></li>
                    </ul>
                </div>

                <div class="navPromotion">
                    <a href="">Khuyến mãi</a>
                    <ol class="subnavPromotion">
                        <!-- Nam -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nam</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Nữ -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nữ</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Trẻ em -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Trẻ em</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>

                <div class="navHelp">
                    <a href="">Hướng dẫn</a>
                </div>

                <div class="navIntroduce">
                    <a href="">Giới thiệu</a>
                </div>

            </li>

            <li class="navListEnd">
                <a href="">
                    <i class="ti-search"></i>
                </a>
                <a href="">Đăng nhập</a>
                <a href="">Đăng ký</a>

            </li>
        </ul>
    </div>
</body>