/* Animation */
.navListFirst--animation > a {
    transition: transform 0.25s;
}

.navListFirst--animation > a:hover {
    transform: scale(1.5, 1.5) rotate(3deg);
}

.sub-navbar--animation {
    animation: subnavbar 0.25s;
}

@keyframes subnavbar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}