.nav {
    background-color: #000;
    width: 100%;
    position: fixed;
    z-index: 9900;
    /* margin-bottom: 80px; */
    top: 0;
    left: 0;
    right: 0;
}

.navList {
    justify-content: space-between;
    list-style-type: none;
    font-size: 17px;
    display: flex;
    line-height: 3.5;
    width: 1400px;
    margin: 0 auto;
}

.navList li a,
.navList li>div>a {
    text-decoration: none;
    color: white;
    /* font-weight: 600; */
}

.navListFirst,
.navListMiddle,
.navListEndUn {
    display: flex;

}

.navListFirst {
    flex: 0.7;
    justify-content: flex-start;
    padding-left: 50px;
}

.navListMiddle {
    justify-content: space-between;
    flex: 3;
}

.navListEndUnlogined {
    flex: 2;
    float: right;
    /* padding-left: 50px;   */
    padding-right: 20px;
    justify-content: flex-end;
    gap: 1rem;
    display: flex;
}

.subnavNewProduct,
.subnavPromotion {
    display: none;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    list-style-type: none;
    padding: 2rem 3rem;
    line-height: 1.5;
    top: 62px;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #000;
    gap: 6rem;
    z-index: 5;
}


.subnavNewProduct ul,
.subnavPromotion ul {
    list-style-type: none;
}

.subnavNewProduct ul li>a,
.subnavPromotion ul li>a,
.subnavMen li>a,
.subnavWomen li>a,
.subnavKids li>a {
    color: black;
}

.subnavMen,
.subnavWomen,
.subnavKids {
    display: none;
    flex-direction: column;
    text-align: left;
    position: absolute;
    list-style-type: none;
    /* padding: 1rem 2rem;
    line-height: 1.5;
    top: 62px;
    background-color: #fff;
    color: #000;
    gap: 0.6rem;
    z-index: 5; */

    padding: 2rem 3rem;
    line-height: 1.5;
    top: 62px;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #000;
    /* gap: 6rem; */
    align-items: center;
    z-index: 5;
}

.navNewProduct,
.navPromotion,
.navMen,
.navWomen,
.navKids,
.navHelp,
.navIntroduce {
    border-bottom: 2px solid#000;
}

/* --------- hover --------------- */
.navNewProduct:hover ol,
.navPromotion:hover ol,
.navMen:hover ul,
.navWomen:hover ul,
.navKids:hover ul {
    display: flex;
}

.navNewProduct:hover,
.navPromotion:hover,
.navMen:hover,
.navWomen:hover,
.navKids:hover,
.navHelp:hover,
.navIntroduce:hover {
    border-bottom-color: rgb(204, 86, 86);

}


.navListEndUnlogined .navSearch {
    display: flex;
    align-items: center;
}

.navListEndUnlogined .navSearchContent input:focus {
    outline: none;
}

.navListEndUnlogined .navSearchContent input {
    border-style: hidden;
    font-size: 14px;
    line-height: 1.9;
    width: 0;
    transition: width 0.75s ease;
}

.navListEndUnlogined .navSearchContent div:hover {
    background-color: rgba(146, 159, 168, 0.15);
    border-radius: 50%;
    cursor: pointer
}


.navListEndUnlogined .navSearchContent {
    background-color: white;
    display: flex;
    /* height: 0px; */
    border-radius: 0px;
    padding: 3px 10px;
    border-radius: 20px;
}

.navListEndUnlogined .navSearchContent:hover input {
    width: 176px;
    cursor: text;
    padding-left: 6px;
}

.navListEndUnlogined .navSearchIcon {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}



/* Mobile */
/* @media only screen and (max-width: 426px) {
    .navList {
        display: none;
    }
} */