<!DOCTYPE html>		<!--Define the version of HTML-->
<html lang="vi">	<!--Set the language-->
	<head>
		<title>Quản lí hạng mục</title>
		<meta charset="utf-8" >		<!--Set the charset to Unicode-->
		<link rel="icon" type="image/png" href="../logo-removebg-preview_50.png">
		<link rel="stylesheet" href="./style.css">
	</head>

    <body>
        <nav>

        </nav>

        <header>
            <h1>Quản lí hạng mục</h1>
        </header>

        <main>
            <div class="filter">
                <div>
                    <label>Mã loại sản phẩm</label>
                    <input type="text" id="product_type_id">
                </div>
                <div>
                    <label>Tên loại sản phẩm</label>
                    <input type="text" id="product_type_name">
                </div>
                <div>
                    <label>Trạng thái</label>
                    <select>
                        <option value="-- Trạng thái --">-- Trạng thái --</option>
                        <option value="Chưa có sản phẩm">Chưa có sản phẩm</option>
                        <option value="Đã có sản phẩm">Đã có sản phẩm</option>
                    </select>
                </div>
            </div>

            <div>
                <table>
                    <tr class="title">
                        <th><input type="checkbox"></th>
                        <th><label class="title">Mã loại sản phẩm</label></th>
                        <th><label class="title">Tên loại sản phẩm</label></th>
                        <th><label class="title">Số lượng SP</label></th>
                        <th><label class="title">Ngày tạo</label></th>
                        <th><label class="title">Ngày sửa đổi gần nhất</label></th>
                        <th><label class="title">Hành động</label></th>
                    </tr>

                    <tr>
                        <th><input type="checkbox" class="product_type_row"></th>
                        <th><label class="product_type_row">LSP001</label></th>
                        <th><label class="product_type_row">Giày</label></th>
                        <th><label class="product_type_row">100</label></th>
                        <th><label class="product_type_row">01/09/2022</label></th>
                        <th><label class="product_type_row">07/09/2022</label></th>
                        <!--icon-->
                    </tr>

                    <tr>
                        <th><input type="checkbox" class="product_type_row"></th>
                        <th><label class="product_type_row">LSP001</label></th>
                        <th><label class="product_type_row">Giày</label></th>
                        <th><label class="product_type_row">100</label></th>
                        <th><label class="product_type_row">01/09/2022</label></th>
                        <th><label class="product_type_row">07/09/2022</label></th>
                        <!--icon-->
                    </tr>

                    <tr>
                        <th><input type="checkbox" class="product_type_row"></th>
                        <th><label class="product_type_row">LSP001</label></th>
                        <th><label class="product_type_row">Giày</label></th>
                        <th><label class="product_type_row">100</label></th>
                        <th><label class="product_type_row">01/09/2022</label></th>
                        <th><label class="product_type_row">07/09/2022</label></th>
                        <!--icon-->
                    </tr>
                </table>

                <div class="add_category_product">
                    <button>Thêm loại sản phẩm</button>
                </div>
            </div>
        </main>

        <footer>

        </footer>
        
        <script src="./script.js"></script>
    </body>
</html>