<!DOCTYPE html>		<!--Define the version of HTML-->
<html lang="vi">	<!--Set the language-->
	<head>
		<title>Quản lí sản phẩm</title>
		<meta charset="utf-8" >		<!--Set the charset to Unicode-->
		<link rel="icon" type="image/png" href="../../assets/images/logo-removebg-preview.png">
		<link rel="stylesheet" href="./style.css">
	</head>

    <body>
        <nav>

        </nav>

        <header>

        </header>

        <main>
            <h1>Quản lí sản phẩm</h1>

            <div class="filter">
                <div>
                    <label>Mã sản phẩm</label>
                    <input type="text" id="product_id">
                </div>
                <div>
                    <label>Tên sản phẩm</label>
                    <input type="text" id="product_name">
                </div>
                <div>
                    <label>Giá sản phẩm</label>
                    <input type="range"
                    min="1"
                    max="100"
                    data-value-0="25"
                    data-value-1="75"
                    class="slider"
                    id="myRange">
                </div>
                <div>
                    <label>Số lượt mua</label>
                    <input type="range"
                    min="1"
                    max="100"
                    data-value-0="25"
                    data-value-1="75"
                    class="slider"
                    id="myRange">
                </div>
            </div>
            
            <div>
                <table>
                    <tr class="title">
                        <th><input type="checkbox"></th>
                        <th><label class="title">Mã sản phẩm</label></th>
                        <th><label class="title">Tên sản phẩm</label></th>
                        <th><label class="title">Giá sản phẩm</label></th>
                        <th><label class="title">Số lượt mua</label></th>
                        <th><label class="title">Hành động</label></th>
                    </tr>

                    <tr>
                        <th><input type="checkbox" class="product_row"></th>
                        <th><label class="product_row">SP001</label></th>
                        <th><label class="product_row">Giày Thượng Đình</label></th>
                        <th><label class="product_row">100.000 VNĐ</label></th>
                        <th><label class="product_row">200</label></th>
                        <!--icon-->
                    </tr>

                    
                </table>

                <div class="add_category_product">
                    <button>Thêm sản phẩm</button>
                </div>

            </div>
        </main>

        <footer>

        </footer>
        
        <script src="./script.js"></script>
    </body>
</html>