<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="./index.css">  
    <link rel="stylesheet" href="./assets/icon/themify-icons/themify-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="footer">
        <div class="footerAbove">
            <div class="footerProduct">
                <p>Sản phẩm</p>
                <ul>
                    <li><a href="">Chính sách</a></li>
                    <li><a href="">Dịch vụ</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <div class="footerResource">
                <p>Tài nguyên</p>
                <ul>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Case Studies</a></li>
                </ul>
            </div>
            <div class="footerInfo">
                <p>Công ty</p>
                <ul>
                    <li><a href="">Về chúng tôi</a></li>
                    <li><a href="">Liên lạc với chúng tôi</a></li>
                </ul>
            </div>
        </div>

        <div class="footerUnder">
            <div class="line"></div>
            <div class="subFooter">
                <div>
                    <p>© GroupX Internet And Web Technology Project™ 2023</p>
                </div>
                <!-- <div class="contact">
                    <i class="ti-email"></i>
                    <i class="ti-linkedin"></i>
                    <i class="ti-facebook"></i>
                </div> -->
            </div>
        </div>
    </div>
</body>
</html>