<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hướng dẫn</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../../asset/icons/themify-icons/themify-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
        <ul class="navList">

            <li class="navListFirst">
                <a href="">Sportswear</a>
            </li>

            <li class="navListMiddle">
                <div class="navNewProduct">
                    <a href="">Sản phẩm mới</a>
                    <ol class="subnavNewProduct">
                        <!-- Nam -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nam</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Nữ -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nữ</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Trẻ em -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Trẻ em</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>

                <div class="navMen">
                    <a href="">Nam</a>
                    <ul class="subnavMen ">
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Giày</a></li>
                        <li><a href="">Áo</a></li>
                        <li><a href="">Quần</a></li>
                        <li><a href="">Tất</a></li>
                    </ul>
                </div>

                <div class="navWomen">
                    <a href="">Nữ</a>
                    <ul class="subnavWomen ">
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Giày</a></li>
                        <li><a href="">Áo</a></li>
                        <li><a href="">Quần</a></li>
                        <li><a href="">Tất</a></li>
                    </ul>
                </div>

                <div class="navKids ">
                    <a href="">Trẻ em</a>
                    <ul class="subnavKids ">
                        <li><a href="">Tất cả sản phẩm</a></li>
                        <li><a href="">Giày</a></li>
                        <li><a href="">Áo</a></li>
                        <li><a href="">Quần</a></li>
                        <li><a href="">Tất</a></li>
                    </ul>
                </div>

                <div class="navPromotion">
                    <a href="">Khuyến mãi</a>
                    <ol class="subnavPromotion">
                        <!-- Nam -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nam</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Nữ -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Nữ</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Trẻ em -->
                        <li>
                            <ul>
                                <li class="bold mb1">
                                    <a href="">Trẻ em</a>
                                </li>
                                <li>
                                    <a href="">Tất cả sản phẩm</a>
                                </li>
                                <li>
                                    <a href="">Giày</a>
                                </li>
                                <li>
                                    <a href="">Áo</a>
                                </li>
                                <li>
                                    <a href="">Quần</a>
                                </li>
                                <li>
                                    <a href="">Tất</a>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>

                <div class="navHelp">
                    <a href="D:\Năm 3\Kì 5\Internet và công nghệ web\FrontEnd\guide\guide.html">Hướng dẫn</a>
                </div>

                <div class="navIntroduce">
                    <a href="">Giới thiệu</a>
                </div>

            </li>

            <li class="navListEnd">
                <a href="">
                    <i class="ti-search"></i>
                </a>
                <a href="">Đăng nhập</a>
                <a href="">Đăng ký</a>

            </li>
        </ul>
    </div>

    <div class="guide">
        <div class="guide1">
            <p class="guideTitle bold">HƯỚNG DẪN</p>
            <div class="guideSearch">
                <input type="text" placeholder="Chúng tôi có thể giúp gì cho bạn ?"></input>
                <div style="width: 40px; display: flex; justify-content: center;">
                    <i class="ti-search"></i>
                </div>
            </div>
        </div>
        <div class="guideDetails">
            <div class="firstDetail">
                <p class="detailTitle">HỖ TRỢ NHANH CHÓNG</p>
                <p class="detailPNormal">Câu trả lời cho những câu hỏi thường gặp nhất của chúng tôi chỉ cần một cú nhấp
                    chuột.</p>
            </div>
            <div class="line2 mt1">

            </div>
            <div class="secondDetail">
                <div class="row">
                    <div>
                        <p class="detailTitle2">VẬN CHUYỂN & GIAO HÀNG</p>
                        <p class="detailPNormal">Các lựa chọn vận chuyển của Sportswear là gì?</p>
                        <p class="detailPNormal">Làm cách nào để được giao hàng miễn phí cho các đơn hàng của Sportswear?</p>
                    </div>
                    <div>
                        <p class="detailTitle2">HOÀN TRẢ</p>
                        <p class="detailPNormal">Chính sách hoàn trả của Sportswear là gì?</p>
                        <p class="detailPNormal">Làm cách nào để trả lại đơn hàng Nike của tôi?</p>
                        <p class="detailPNormal">Tiền hoàn lại của tôi ở đâu?</p>
                    </div>
                    <div>
                        <p class="detailTitle2">THÀNH VIÊN SPORTSWEAR</p>
                        <p class="detailPNormal">Tư cách thành viên Sportswear là gì?</p>
                        <p class="detailPNormal">Làm cách nào để có được những mẫu giày sneaker mới nhất của Sportswear?
                        </p>
                        <p class="detailPNormal">Làm cách nào để đặt lại mật khẩu Sportswear của tôi?</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <p class="detailTitle2">ĐƠN HÀNG</p>
                        <p class="detailPNormal">Đơn hàng Sportswear của tôi ở đâu?</p>
                        <p class="detailPNormal">Tôi có thể hủy hoặc thay đổi đơn hàng Sportswear của mình không?</p>
                        <p class="detailPNormal">Làm thế nào để tôi tìm thấy kích thước phù hợp?</p>
                    </div>
                    <div>
                        <p class="detailTitle2">THÔNG TIN CÔNG TY</p>
                        <p class="detailPNormal">Giày Sportswear có được bảo hành không?</p>
                        <p class="detailPNormal">Tôi có thể tái chế giày Sportswear của mình không?</p>
                        <p class="detailPNormal">Sportswear có cung cấp các khoản tài trợ hoặc quyên góp không?</p>
                    </div>
                    <div>
                        <p class="detailTitle2">ƯU ĐÃI SPORTSWEAR</p>
                        <p class="detailPNormal">Sportswear có giảm giá cho sinh viên không?</p>
                        <p class="detailPNormal">Sportswear có giảm giá cho giáo viên không?</p>
                        <p class="detailPNormal">Sportswear có giảm giá quân sự không?</p>
                        <p class="detailPNormal">Sportswear có giảm giá cho người ứng phó đầu tiên và chuyên gia y tế
                            không?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="guideContact">
            <div>
                <p class="detailTitle">LIÊN HỆ CHÚNG TÔI</p>
            </div>
            <div class="line2 mt1">

            </div>
            <div>
                <div>
                    <img src="../../asset/images/guide/chat.png" alt="">
                    <p>SẢN PHẨM & ĐƠN HÀNG</p>
                    <p>Trò chuyện với chúng tôi</p>
                    <p>7 am - 11 pm</p>
                    <p>Các ngày trong tuần</p>
                </div>
                <div>
                    <img src="../../asset/images/guide/phone.png" alt="">
                    <p>CÁC VẤN ĐỀ CẦN HỖ TRỢ</p>
                    <p>19001098</p>
                    <p>mailto:Sportswear@gmail.com.vn</p>
                    <p>8 am - 11 pm</p>
                    <p>Các ngày trong tuần</p>
                </div>
                <div>
                    <img src="../../asset/images/guide/location_prev_ui.png" alt="">
                    <p>VỊ TRÍ CỬA HÀNG</p>
                    <p>Tìm các cửa hàng gần b</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="footer">
        <div class="footerAbove">
            <div class="footerProduct">
                <p>Sản phẩm</p>
                <ul>
                    <li><a href="">Chính sách</a></li>
                    <li><a href="">Dịch vụ</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <div class="footerResource">
                <p>Tài nguyên</p>
                <ul>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Case Studies</a></li>
                </ul>
            </div>
            <div class="footerInfo">
                <p>Công ty</p>
                <ul>
                    <li><a href="">Về chúng tôi</a></li>
                    <li><a href="">Liên lạc với chúng tôi</a></li>
                </ul>
            </div>
        </div>

        <div class="footerUnder">
            <div class="line"></div>
            <div class="subFooter">
                <div>
                    <p>© GroupX Internet And Web Technology Project™ 2023</p>
                </div>
            </div>
        </div>
    </div> -->
</body>

</html>